/* Color Palette: Background #F5FDDA, Buttons #696969, Fonts #665D4E, Other #2F6690, Other2 #3A7CA5 */

body {
    background-color: #F5FDDA;
}

h1, h2 {
    color: #665D4E;
}

#profilepic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
}
